@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background: #fafafa;
    color: #333333;
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #e41749;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #d2dce2;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    transition: 9s;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  .title-pink{
    color: #e41749;
  }